# general things to ignore
.tko_cache
build/
dist/
*.egg-info/
*.egg
__pycache__/
*.so
*~
.track
.build

# due to using tox and pytest
.tox
.cache
temp

todo.md
.vscode
# virtualenv
.idea*
.venv*
venv*/
ENV*/
